Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@bezawitdev 
anawas
/
html-memory-game
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
html-memory-game/src/css/styles.css
@anawas
anawas Added new images for front and back face
Latest commit 34f19a8 on Aug 21, 2018
 History
 1 contributor
56 lines (48 sloc)  912 Bytes

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #0000aa;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 10000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1.0);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    background: #1c7ccc;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}